---
http_interactions:
- request:
    method: get
    uri: http://www.ndbc.noaa.gov/data/realtime2/41009.cwind
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 16 Aug 2015 16:52:43 GMT
      Etag:
      - '"e68acb-401f1-837b6cc0"'
      Content-Type:
      - text/plain; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: |
        #YY  MM DD hh mm WDIR WSPD GDR GST GTIME
        #yr  mo dy hr mn degT m/s degT m/s hhmm
        2015 08 16 16 20 137  5.1 160  8.0 1536
        2015 08 16 16 10 143  5.5 999 99.0 9999
        2015 08 16 16 00 142  5.6 999 99.0 9999
        2015 08 16 15 50 137  5.5 150 40.0 1511
        2015 08 16 15 40 142  5.8 999 99.0 9999
        2015 08 16 15 30 132  5.1 999 99.0 9999
        2015 08 16 15 20 15[...]
- request:
    method: get
    uri: https://www.ndbc.noaa.gov/data/realtime2/41009.cwind
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /data/realtime2/41009.cwind was not found on this server.</p>
        </body></html>
  recorded_at: Sat, 30 Jun 2018 22:18:18 GMT
[...]
